.header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}
.web {
    color: var(--bluebrand-clor);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio {
    color: var(--brand-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 90px;
}

.site-nav .item+.item {
    margin-left: 50px;
}


.site-nav .link {
    position: relative;
    display: block;

    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--bluebrand-clor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
    color: var(--bluebrand-clor);
}

.link.current::after {
    position: absolute;
    display: inline;
    content: "";
    background-color: var(--bluebrand-clor);
    top: 68px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 2px;
}

.auth-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--discription-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.auth-icon {
    margin-right: 10px;
    fill: var(--discription-color);

}

.auth-link:hover,
.auth-link:focus {
    color: var(--bluebrand-clor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.auth-link:hover .auth-icon,
.auth-link:focus .auth-icon {
    fill: var(--bluebrand-clor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item+.item {
    margin-left: 50px;

}