.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project__item {
    width: calc((100% - 90px) / 3);
    border: 1px solid #EEEEEE;
    border: none;
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.project__bottom__link {
    display: block;
    &:hover{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

}


.project__bottom__info {
    position: relative;
    overflow: hidden;
}

.project__bottom__text {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 0.9);
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 63px;
    height: 100%;
    width: 370px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .project__bottom__link:hover &{
        transform: translateY(0%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
}

.project__product {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--discription-color);
}

.project__card__name {
    display: block;
    padding: 20px 24px;
    text-align: start;
    border: 1px solid #EEEEEE;
    border-top: 0;

}

.project__titel {
    margin-bottom: 4px;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    white-space: nowrap;
    letter-spacing: 0.06em;
}