.work {
    padding-bottom: 94px;
}

.work-title {
    margin-bottom: 50px;
    text-align: center;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.work-pic {
    display: flex;
    flex-wrap: wrap;

}

.work-item {
    width: calc((100% - 60px) / 3);
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.work-bottom-wrap {
    position: relative;

}

.work-bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px;
    height: 70px;
    width: 370px;
    display: flex;
    text-align: center;
    justify-content: center;
}